# -------------------------
# Packer Variables File
# -------------------------
# This file contains variable values for the apple-tart-tahoe.pkr.hcl template
# Usage: packer build -var-file="my-config.pkrvars.hcl" apple-tart-tahoe.pkr.hcl
# If using packer.sh *.pkr.env.hcl must match *.pkr.hcl

# VM Configuration
vm_name  = "vanilla-26.1"
ipsw_url = "https://updates.cdn-apple.com/2025FallFCS/fullrestores/089-04148/791B6F00-A30B-4EB0-B2E3-257167F7715B/UniversalMac_26.1_25B78_Restore.ipsw"

# Account Configuration
account_userName = "admin"
account_password = "admin"

# MDM Enrollment Configuration
enrollment_type    = "profile"
jamf_url           = "https://SERVER.jamf.com"
mdm_invitation_id  = "1234567890"

# Feature Toggles
enable_passwordless_sudo   = "false"
enable_auto_login          = "false"
enable_safari_automation   = "false"
enable_screenlock_disable  = "false"
enable_spotlight_disable   = "false"
enable_clipboard_sharing   = "false"